h1 {
    color: red;
    font-size: 80pt;
}
#cImg{
    border-style: solid;
    border: 20px;
    border-color: green;
}
#score {
    border-style: solid;
    border: 20px;
    border-color: green;
    height : 30px;
    width: 35px;
    float: right;
}